<div>
    <nav class="navbar navbar-expand-lg fixed-top ">
        <a class="navbar-brand"><h5>{{title}} </h5></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-4">
                <li class="nav-item">
                    <a class="nav-link"  routerLinkActive='active' routerLink='/home'><h6>HOME</h6></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='/createOrder' routerLinkActive='active'><h6>CREATE ORDERS</h6></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='/checkStatus' routerLinkActive='active'><h6>CHECK STATUS & CONFIRM ORDER</h6></a>
                </li>
            </ul>
        </div>
  
        <div class="message mr-4"></div>
        <ul class="navbar-nav mr-4" >
            <li class="nav-item">
                <a class="nav-link">Logout</a>
            </li>
        </ul>
    </nav>
  </div>
  <div class="default-margin">
    <router-outlet></router-outlet>
  </div>